
@media screen and (max-width: 1820px) and (min-width: 1200px) {
  
    #ursulet{
       
        top:129px;
        right: 20px;
      }
      
      #labutaS {
       
        right: 117px;
        top: 230px;
      }
      
      #labutaD {
       
        right: 7px;
        top: 230px;
      }
      .clasa img{
      
        right:157px;
        width: 200px;
     
      }
      .clasa p{
        right: 197px;
        width: 125px;
        font-size: 14px;
      }
    
      #carousel div img {
        width: 750px;
      }
      #carousel {
          height: 450px;
      }
      .slogan h3{
        padding-bottom: 0px;
        }
        #prev, #next {
        top: 70%;
        }
        .circle{
            height: 370px;
         width: 370px;
         }
         .circlePos{
         top: 125px;
         width:365px;
         height:500px; 
         }
         .column #e{
             width: 27%;
             height: 500px;
             top: 60px;
             left: 90px;
         }
         .column #m{
             position: absolute;
             width: 26%;
             height: 510px;
             top: 60px;
             right:100px;
         }
         .text1 ,.text2{
            font-size: 20px;
            width: 300px;
         }
    
         .iconite img
         {
         width: 55px;
         }
    
    
         #i1
         {
         width: 65px;
         right: 70px;
         bottom: 160px ;
         }
         #i2{
         width: 60px;
         bottom: 410px;
         left: 100px;
         }
         #i3{
          width: 45px;
          bottom: 250px;
          right:20px;
         }
         #i4{
          bottom: 150px;
          right: 170px;
         }
         #i5{
          width: 45px;
          right: 280px;
          bottom: 280px;
         }
         #i6{
          right: 270px;
          bottom: 370px;
         }
         #i7{
          width: 65px;
          right: 100px;
          bottom: 300px;
         }
         #i8{
         bottom: 190px;
         left: 60px;
         }
         #i9{
          bottom: 350px;
          right: 30px;
         }
         #i10{
          right: 180px;
          bottom: 350px;
         }
         #i11{
          bottom: 220px;
          right:120px;
         }
         #i12{
          bottom: 6.5cm;
          right: 200px;
         }
         #i13{
          right: 120px;
          bottom: 410px;
         }
         #ST, #D {
            height:600px;
            
         }
    }