@font-face{
    src:url(font/CircularStd-Book.otf);
    font-family: CircularStd;
}
@font-face{
  src:url(font/PRISTINA.TTF);
  font-family: pristina;
}
@font-face{
  src:url(font/RAVIE.TTF);
  font-family: ravie;
}
@font-face{
  src:url(font/Rockwell-Regular-Font.ttf);
  font-family: rockwell;
}
*{
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: CircularStd;
    color: #0A2243;
    
}

.navbar {

    background-color: #1F2732;
}

.navbar ul{
    text-align: center;
    padding: 10px 0px;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 30px;
}
.navbar li a{
    text-align: center;
    text-decoration: none;
    color: white;
 }

 .navbar ul img{
     float: left;
     padding-left: 30px ;
 }

 .navbar li a:hover{
 color:turquoise;
 }

/* hover navbar */
li{
  position: relative;
  font-size: 20px;
  display: inline-block;
  padding: 0px 15px;
  color: turquoise;
  
}

a{
  text-decoration: none;
  color:turquoise;
}

a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
}

.link:after {
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: turquoise;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 550px;
  top: 35%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 900px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(170%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(170%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(120px) translateX(-50%);
  filter: blur(1.5px);
}
#carousel div.prev img {
  width: 500px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(130%) translateX(-50%);
  opacity: 0.6;
  filter: blur(2px);
}
#carousel div.prevLeftSecond img {
  width: 250px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(120px) translateX(-50%);
  filter: blur(1.5px);
}
#carousel div.next img {
  width: 500px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(130%) translateX(-50%);
  opacity: 0.7;
  filter: blur(2px);
}
#carousel div.nextRightSecond img {
  width: 250px;
}

.slogan{
  text-align: center;
}
.slogan h1{
  padding-top: 50px;
  margin-bottom: 13px;
  font-weight: normal;
}
.slogan h3{
font-weight: normal;
font-size: 25px;
}

@media only screen and (max-height: 876px) {
  #carousel{
    height: 550px;
    }
  }
@media only screen and (max-height: 820px) {
#carousel{
  height: 450px;
  }
}
@media only screen and (max-height: 690px) {
    #carousel{
      height: 350px;
  }
}

/* sageti slider */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* font prima pagina */
#pristina{
  font-family: pristina;
  font-size: 65px;
}
#ravie{
  font-family: ravie;
  font-size: 55px;
  color: turquoise;
  text-shadow: 0px 4px black;
}
#rockwell{
  font-family: rockwell;
  font-size: 55px;
}

/* scop section */
.scope{
  text-align: center;
  font-size: 25px;
  margin-right: 200px;
  margin-left: 200px;
}
.me{
  text-align: center;
  font-size: 25px;
 
}



.scope h1, .me h1,.despre h1,.contact h1{
  padding-bottom: 20px;
}
.scope h3{
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 120px;
  
}
@media only screen and (max-width: 900px) {
  .scope{
    margin-left: 50px;
    margin-right: 50px;
    }
  }

.rope,p{
  position: absolute;
  right: 200px;
  height: 100px;
  width: 100px;
}
.rope1{
  position: absolute;
  right: 200px;
  height: 100px;
  width: 100px;
}
.rope2{
  position: absolute;
  right: 200px;
  height: 100px;
  width: 100px;
}

.cutTheRope{
  position: relative;
  padding-bottom: 15px ;
}
/*Pentru poze (M&E)*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 0px 40px 120px;
  position: relative;
}


.column {
  flex: 50%;
  padding: 10px;
}
.circlePos{
    position:absolute;
    top: 200px;
    left:0;
    right:0;
    width:400px;
    height:500px; 
    margin:auto;
}
.circle{
	background-color: white;
	height: 400px;
	width: 400px;
	border-radius: 50%;
}

.column #e{
	position: absolute;
	width: 27%;
	height: 600px;
	top: 100px;
	left: 120px;
}
.column #m{
	position: absolute;
	width: 25%;
	height: 590px;
	top: 115px;
	right:150px;
}

@media only screen and (max-width: 1280px) {
  .circle{
   	height: 370px;
	width: 370px;
    }
    .circlePos{
    top: 125px;
    width:365px;
    height:500px; 
	}
	.column #e{
		width: 27%;
		height: 500px;
		top: 60px;
		left: 90px;
	}
	.column #m{
		position: absolute;
		width: 26%;
		height: 510px;
		top: 60px;
		right:100px;
	}
}

.text1 {
  color:  white;
  position: absolute;
  top: 30%;
  left: 120px;
  font-size: 30px;
width: 500px;
}

.text2
{
	color:  white;
	position: absolute;
	top: 30%;
	right: 120px;
	font-size: 30px;
  width: 500px;
  }
/* Pozitiile iconitelor  */
.iconite img
{
position: absolute;
width: 70px;

}
#i1
{
  width: 80px;
position: absolute;
right: 40px;
bottom: 160px ;
}
#i2{
  width: 75px;
position: absolute;;
bottom: 300px;
left: 120px;
}
#i3{
  position: absolute;
  width: 60px;
  bottom: 250px;
  right:20px;
}
#i4{
  position: absolute;
  bottom: 130px;
  right: 170px;
}
#i5{
  position: absolute;
  width: 60px;
  right: 310px;
  bottom: 260px;
}
#i6{
  position: absolute;
  right: 210px;
  bottom: 220px;
}
#i7{
  position: absolute;
  width: 80px;
  right: 90px;
  bottom: 300px;
}
#i8{
position:absolute;
bottom: 150px;
left: 60px;
}
#i9{
  position:absolute;
  bottom: 210px;
}
#i10{
  position: absolute;
  left: 30px;
  bottom: 360px;
}
#i11{
  position: absolute;
  transform:scaleX(-1); 
  bottom: 350px;
  right:25px;
}
#i12{
  position: absolute;
  bottom: 10cm;
}
#i13{
  position: absolute;
  right: 220px;
  bottom: 390px;
}

/* sectiuna despre  */
.despre{
  text-align: center;
  font-size: 25px;
 
}

.despre h3{
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

.containerCirc{
  position: relative;
}
.circles{
	position:absolute;
    top: 50px;
    left:0;
    right:0;
    width:90px;
    height:10px; 
    margin:auto;
}

.shortRect{
	width: 9px;
	height: 30px;
	margin-left: 41px; 
	background-color: #0A2243;
}

.circle1,.circle2,.circle3,.circle4,.circle5{
	width: 90px;
	height: 90px;
	background: #0A2243;
	border-radius: 50%;

}
.smallCircle{
	margin-left: 25.5px; 
	width: 40px;
	height: 40px;
	background: #0A2243;
	border-radius: 50%;

}
.rectangle{
	width: 9px;
	height: 50px;
	margin-left: 41px; 
	background-color: #0A2243;
}


.circle1 img{
	width: 70px;
	height: 64px;
	padding-top: 17px;
	padding-left: 14px;
}
.circle2 img{
	width: 62px;
	height: 60px;
	padding-top: 25px;
	padding-left: 1px;
	margin-left: 14px;
}
.circle3 img{
  width: 76px;
	height: 38px;
	padding-top: 9px;
	padding-left: 15px;
	margin-top: 20px;
}
.circle4 img{
	width: 64px;
	height: 61px;
	padding-top: 16px;
	padding-left: 15px;
	margin-top: 4px;
	margin-left: 8px;
}
.circle5 img{
	width: 67px;
	height: 64px;
	padding-top: 17px;
	padding-left: 16px;
	margin-left: 2px;
}
/*titluri*/
.titluri{
  position: relative;
}
.stangaTit{
	position: absolute;
	left:0;
	right:300px;
	margin: auto;
	width: 100px;
}

.gaming{
	position: absolute;
	top: 140px;
	left: -12px;
	
}
.fitness{
	position: absolute;
	top: 420px;
}
.rating{
	position: absolute;
	top: 700px;
	width: 240px;
	right:-28px;
}


.descriere1{
	position: absolute;
	top: 280px;
	width: 300px;
	text-align: right;
	right: 0;
}
.descriere2{
	position: absolute;
	top: 580px;
	width: 300px;
	text-align: right;
	right: 0;
}


.dreaptaTit{
	position: absolute;
	left:300px;
	right:0;
	margin: auto;
	width: 100px;
}
.descriere3{
	position: absolute;
	top: 140px;
	width: 300px;
	left: 0px;
}

.blog{
	position: absolute;
	top: 280px;
	
}
.descriere4{
	position: absolute;
	top: 420px;
	width: 300px;
	text-align: left;
	left: 0;
}
.magazin{
	position: absolute;
	top: 560px;
	
}

.descriere5{
	position: absolute;
	top: 700px;
	width: 300px;
	text-align: left;
	left: 0;
}
.desen{
  height: 900px;
}

/* sectiuna contact  */
.contact{
  position: relative;
  text-align: center;
  font-size: 25px;

}

.contact h3{
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 30px;
  margin-right: 200px;
  margin-left: 200px;
}

#padBot{
  padding-bottom: 0;
}

.buttonRotund{
  cursor: pointer;
  border-radius: 22px;
  border: 3px #0A2243 solid;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

#sayhi{
  position: absolute;
  left:0;
  right: 0;
  padding-top: 8px;
}

.footer {
  position: relative;
  background-color: #09182B;
  padding: 35px;
  z-index: 1;
}

.distanta{
  padding-bottom: 15px;
}
.socialIc img{
  position: absolute;
  width: 45px;
  bottom: 12px;
z-index: 4;
}

#ic2{
  left: 103px;
}
#ic3{
  left: 171px;
}
#ic4{
right: 170px;
}
#ic5{
right: 105px;
}
#ic6{
right: 40px;
}
.textFot{
position: absolute;
right: 0;
left: 0;
text-align: center;
color: white;
font-weight: normal;
top: 20px;
z-index: 2;
}
#panel, .buttonRotund {
  text-align: center;
  background-color: white;

}

#panel {
  padding: 50px;
  width:700px ;
  display: none;
}
input[type=text] {
  position: relative;
  width: 500px;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-top: 10px;
  font-size: 22px;
  border-radius: 15px;
}

textarea{
  position: relative;
  width: 500px;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin:5px 700px;
  margin: auto;
  margin-top: 10px;
  font-size: 22px;
  border-radius: 15px;
  resize: none;
}
textarea:focus{
  border: 3px solid #555;
}

input[type=text]:focus {
  border: 3px solid #555;
}
#trimite{
  position: absolute;
  left :-150px;
  right: 0;
  padding-top: 8px;
  color: white;
}
.butontrimite{
  cursor: pointer;
  position: relative;
  border-radius: 22px;
  border: 3px #0A2243 solid;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-top: 20px;
  background-color:#0A2243 ;
}
