@font-face{
    src:url(font/CircularStd-Book.otf);
    font-family: CircularStd;
}
*{
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: CircularStd;
}

.container{
    max-width:800px;
    margin: auto;
}

.navbar ul{
    text-align: center;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 10px;

}
.navbar li a{
    text-align: center;
    text-decoration: none;
 }
